html{
    font-size: 9px;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProBold.eot');
    src: local('./fonts/Sofia Pro Bold'), local('SofiaProBold'),
        url('./fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SofiaProBold.woff') format('woff'),
        url('./fonts/SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProRegular.eot');
    src: local('./fonts/Sofia Pro Regular'), local('SofiaProRegular'),
        url('./fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SofiaProRegular.woff') format('woff'),
        url('./fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/SofiaProLight.eot');
    src: local('./fonts/Sofia Pro Light'), local('SofiaProLight'),
        url('./fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/SofiaProLight.woff') format('woff'),
        url('./fonts/SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


.container{
    width: 100vw;
    min-height: 100vh;
    background-image: url("./images/background-spiral.svg"), linear-gradient(to right bottom, #160855, #080e4c, #011042, #010f37, #040e2b, #080f28, #0c1026, #0f1123, #151429, #1d162e, #261732, #2f1835);
    background-size: 50vh, 100%;
    background-repeat: no-repeat;
    background-position:  bottom left, 0;
    display: flex;
    color: white;
    font-family: 'Sofia Pro', 'Popins', serif;
    font-weight: 500;
    display: flex;
}

.description{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 2rem;
    padding: 5rem 2rem 5rem 10rem;
}

.logo{
    width: 10rem;
    background-color: #171465;
    border-radius: .5rem;
    padding: 0 1rem;
}

.title{
    font-size: 8vh;
    font-weight: bold;
    line-height: 8vh;
    margin-top: 4vh;
}

.details{
    font-size: 2.5vh;
    line-height: 4vh;
    word-wrap: break-word;
    width: 80%;
    margin-top: 3vh;
    font-weight: 300;
    
}

.btn{
    text-decoration: none;
    padding: 2rem;
    background-color: #FE0666;
    color: white;
    width: fit-content;
    border-radius: 2rem;
    font-size: 2rem;
    margin-top: 5vh;
    transition: all .2s;
}

.btn:hover{
    box-shadow: 0 0 35px #e60073;
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(-1px);
}

.availability{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    flex-wrap: wrap;
}

.room-item{
    width: 30%;
    flex-wrap: wrap;
}

.rooms{
    color: #FE0666;
    font-size: 5rem;
    text-shadow: 0 0 50px #e60073;
    font-weight: bold;
}

.sub{
    font-size: 2rem;
    font-weight: 300;
}

.illustration{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem 5rem 2rem;
}

.logo-responsive{
    width: 0;
    visibility: hidden;
    border-radius: .5rem;
}
.logo2{
    width: 20rem;
    border-radius: .3rem;
}

.gif{
    width: 70vh;
    padding: 0 2rem;
    border-radius: .3rem;
}

@media only screen and (max-width: 600px) {
    html{
        font-size: 7px;
    }

    .title{
        font-size: 6rem;
    }

    .illustration{
        visibility: hidden;
        position: absolute;
    }
    .description{
        flex-basis: 100%;
        padding: 2rem 3rem;
        text-align: center;
        align-items: center;
    }

    .details{
        width: 100%;
    }

    .logo{
        width: 8rem;
        align-self: flex-start;
        
    }

    .logo-responsive{
        visibility: hidden;
        width: 0;
    }

}

@media only screen and (min-width: 600px) and (max-width: 768px){

    .illustration{
        padding: 2rem 4rem;
    }
    .description{

        padding: 2rem 3rem;
        text-align: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

    .container{
        flex-wrap: wrap-reverse;
    }
    
    .description{
        flex-basis: 100%;
        padding: 0rem 5rem 3rem 5rem;

    }

    .illustration{
        flex-basis: 100%;
        padding: 3rem 5rem;
    }

    .logo{
        visibility: hidden;
        width: 0;
    }

    .logo-responsive{
        visibility: visible;
        width: 15%;
        align-self: flex-start;

    }
    .gif{
        width: 50%;
    }

    .logo2{
        width: 30%;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .gif{
        width: 110%;
    }
    .illustration{
        padding: 5rem 5rem;
        justify-content: flex-start;
    }
}
@media only screen and (min-width: 1650px) {
    html{
        font-size: 11px;
    }
}